
body {
    /* background-color: rgb(147, 133, 133); */
  
        /* background-image: url("img/background-about.jpeg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%); */
        background-image: url("img/background-about.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        min-height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }

  
body, h1, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
    text-shadow: black 4px 4px 4px;

body, h2 {
    color: red;
}

}
